:root{
  --primary: hsl(158, 36%, 37%);
  --primary-darken: hsl(from var(--primary) h s calc(l - 5%));
  --secundary: hsl(30, 38%, 92%);
  --neutral-1: hsl(212, 21%, 14%);
  --neutral-2: hsl(228, 12%, 48%);
  --neutral-3: hsl(0, 0%, 100%);

  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secundary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
